// Fonts
$font-sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif,
  Bitstream Vera Serif, Liberation Serif, Georgia, serif;
$font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
// Z Index
$zLayout: default;

// Sizes

// Colors
$colorWhite: #fff;
$colorBlack: #000;
$colorBlue: #011637;
$colorGreen: #0abf53;
$colorRed: #f63751;
$colorGreyLight: #f8fbfd;
$colorGrey: #e5ebf1;
$colorGreyDark: #555;
$colorDark: #7f7e7e;

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
